[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/binmist-academic"]
	path = themes/binmist-academic
	url = https://github.com/binarymist/hugo-academic
